@page "/"
@using Cms.Domain.Entities
@using Microsoft.AspNetCore.Identity
<AuthorizeView>
    <Authorized>
        <div>
            <h3>Witaj, @context.User.Identity.Name!</h3>
            <p>To jest zawartość dostępna tylko dla zalogowanych użytkowników.</p>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <h3>Logowanie</h3>
        </div>
    </NotAuthorized>
</AuthorizeView>

