@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Components.Authorization
<PageTitle>Cms.Web</PageTitle>
<CascadingAuthenticationState>
    <div class="content">
        <RouterView />
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>

            </div>

        </Authorized>
        <NotAuthorized>
           <RedirectToLogin/>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
