@using Cms.Domain.Entities
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cms.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona główna
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blog" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Blog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/project" Match="NavLinkMatch.All">
                <span class="oi oi-project" aria-hidden="true"></span> Projekty
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/companyreview" Match="NavLinkMatch.All">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> Recenzja Firmy
            </NavLink>
        </div>
        <div class="nav-item px-3 mt-auto">
            <NavLink class="nav-link" href="/account/logout" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Wyloguj się
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
